@import "helper/variables";
@import "components/Button";

.app-navbar {
  display: flex;
  position: fixed;
  top: 0;

  background-color: $darkGreen;
  color: $indigoWhite;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid black;

  width: 100vw;
  height: 4.5rem;
  z-index: 9;

  button {
    @extend %button-style;
    color: $indigoWhite;
    border-color: transparent;
    border-radius: 0;
    position: absolute;
    right: 0;
    height: 100%;
    &:hover {
      background-color: $mintGreen;
    }
  }

  .navbar-left {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: flex-start;
    align-items: baseline;
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
    width: 25%;
  }

  // top right corner, Mikayla Dobson text
  a {
    transition: color 150ms ease;
    font-weight: 900;
    font-size: 2rem;
    padding-left: 1rem;
    border-right: 1px solid black;
    padding-right: 1rem;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: $mintGreen;
      transition: color 150ms ease;
    }
  }
  h2 {
    font-weight: 400;
    position: relative;
    padding-left: 1rem;
  }

  // styles for open sidebar
  .drawer {
    .MuiButtonBase-root {
      background-color: red;
    }
    .drawer-list {
      height: 100vh;
      background-color: red;
    }
    .drawer-list-item {
      background-color: orange;
    }
  }
}