@import "helper/variables";
@import "components/Button";

.app-navbar {
  background-color: $purple200;
  height: 4.5rem;
  display: flex;
  border-bottom: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;

  button {
    @extend %button-style;
    border-color: transparent;
    border-radius: 0;
    position: absolute;
    right: 0;
    height: 100%;
    &:hover {
      background-color: purple;
    }
  }

  .navbar-left {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: flex-start;
    align-items: baseline;
  }

  .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
    width: 25%;
  }

  // top right corner, Mikayla Dobson text
  a {
    transition: color 150ms ease;
    color: black;
    font-weight: 900;
    font-size: 2rem;
    padding-left: 1rem;
    border-right: 1px solid black;
    padding-right: 1rem;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: purple;
      transition: color 150ms ease;
    }
  }
  h2 {
    font-weight: 400;
    position: relative;
    padding-left: 1rem;
  }
}