@import "../helper/variables";
@import "../helper/mixins";

.about-me-page {
  h1 {
    color: $indigoOne;
    font-weight: 800;
    font-size: 4rem;
  }
  a {
    color: white;
    border-radius: 12px;
    transition: color 0.3s linear;
    &:hover {
      color: $purple200;
      transition: color 0.3s linear;
    }
  }
  
  
  .about-gallery {
    display: flex;
    height: 70vh;
    width: 85vw;
    justify-content: space-around;
    margin: 2rem;
    
    .MuiCard-root {
      .card-title {
        text-transform: uppercase;
      }

      display: flex;
      flex-direction: column;
      background-color: $indigoOne;
      color: $indigoWhite;
      text-align: center;
      align-items: center;
  
      opacity: 0;
      transition: 0.5s transform ease;
  
      width: 300px;
      height: 400px;
      border-radius: 12px;
  
      padding: 1rem;
      margin: 0.5rem;
      margin-bottom: 3rem;
  
      overflow-y: scroll;
      @include step-entry(4);

      .MuiChip-root {
        background-color: $indigoWhite;
        max-width: 60%;
        margin: 4px;
      }
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}