@import "../helper/variables";
@import "../helper/mixins";

.about-me-page {
  .about-me-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background-color: $darkLilac;
    border: 1px solid $indigoOne;
    border-radius: 12px;
    margin: 1rem;
    padding: 8px 2rem;
    width: 75vw;

    opacity: 0;
    transition: 0.5s transform ease;

    @include step-entry(4);

    .am-section-mini {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: baseline;
      justify-content: space-between;

      width: 100%;
  
      button {
        display: inline-flex;
        align-items: center;
        height: 2rem;
        padding: 1rem;
      }
    }
    .about-gallery {
      display: flex;
      flex-flow: row wrap;
      height: auto;
      width: 80%;
      justify-content: space-around;
      margin: 2rem;
      
      .MuiCard-root {
        .card-title {
          text-transform: uppercase;
        }
  
        display: flex;
        flex-direction: column;
        background-color: $indigoOne;
        color: $indigoWhite;
        text-align: center;
        align-items: center;
    
        opacity: 0;
        transition: 0.5s transform ease;
    
        width: 35%;
        height: 400px;
        border-radius: 12px;
    
        padding: 1rem;
        margin: 0.5rem;
        margin-bottom: 3rem;
    
        overflow-y: scroll;
        @include step-entry(4);
  
        .MuiChip-root {
          background-color: $indigoWhite;
          max-width: 75%;
          margin: 4px;
        }
      }
    }
  }
  h1 {
    color: $indigoOne;
    font-weight: 800;
    font-size: 4rem;
  }
  a {
    color: white;
    border-radius: 12px;
    transition: color 0.3s linear;
    &:hover {
      color: white;
      transition: color 0.3s linear;
    }
  }
}