.creative-works-page {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 0 2.5vw;

    section {
        margin-bottom: 3rem;
        p {
            display: inline-block;
            background-color: white;
            margin: 4px 8px;
            padding: 1rem;
            border-radius: 12px;
            list-style: none;
        }
        h2 {
            font-size: 1.2rem;
        }
    }

    .cw-gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30rem;
        margin-bottom: 3rem;
        img {
            display: inline;
            height: 90%;
            width: auto;
            object-fit: cover;
            margin: 0 1rem;
        }
    }
    
    .cw-information {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        text-align: right;
        margin: 0 2rem 3rem 0;
        p {
            background-color: rgb(200, 219, 225);
        }
    }

    .cw-experiences {
        display: flex;
        flex-flow: row wrap;
        text-align: left;
    }

    .cw-examples {
        display: flex;
        .examples-left {
            max-width: 35vw;
        }
        .examples-right {
            display: flex;
            min-width: 65vw;
            flex-flow: column nowrap;
            align-items: center;
            .sources {
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                width: 100%;
                > * {
                    display: inline-flex;
                    flex-flow: column nowrap;
                    width: 40%;
                    height: 15rem;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 100px;
                        height: 100px;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}