@import "../helper/variables";

.links-page {
    background-color: $lilac;
    justify-content: center;
    .links-container {
        display: flex;
        flex-flow: row wrap;
        .MuiCard-root {
            img {
                width: 4rem;
                height: auto;
            }
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 8rem;
            padding: 2rem;
            margin: 1rem;
        }
    }
}