@import "../helper/variables";

.links-page {
    background-color: $lilac;
    justify-content: center;
    .links-container {
        display: flex;
        flex-flow: row wrap;
        .MuiCard-root {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            height: 8rem;
            width: 20vw;
            
            padding: 2rem;
            margin: 1rem;

            background-color: $lilacWhite;

            a {
                color: $indigoOne;
                text-transform: uppercase;
                text-underline-offset: 5px;

                &:hover {
                    color: $darkGreen;
                }
                &:active {
                    color: $indigoOne;
                }
                &:visited {
                    color: inherit;
                }
            }

            img {
                width: 4rem;
                height: auto;
            }
        }
    }
}