@import "../components/Divider";
@import "../helper/variables";

.projects-page {
  .divider {
    @extend %divider;
  }
  
  .filter-panel {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;

    background-color: $darkGreen;
    color: $indigoWhite;

    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 12px;

    width: 40vw;
    transition: align-items 1s ease,
                position 1s ease
    ;

    .filter-controls {
      display: flex;
      justify-content: center;
      width: 80%;
      > * {
        margin: 1rem;
      }
      input {
        padding: 6px;
        border-radius: 4px;
      }
    }
  }

  .project-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $indigoOne;
      color: $indigoWhite;
      width: 80vw;
      height: auto;
      margin-bottom: 2rem;
      border-radius: 12px;
      .links {
        display: flex;
        width: 75%;
        align-items: baseline;
        justify-content: space-around;
        a {
          color: $indigoWhite;
          &:hover {
            color: lightblue;
          }
        }
      }
      a:last-child {
        margin-bottom: 1rem;
      }
    }
  }
}