@import "../helper/variables";
@import "../helper/animations";
@import "../helper/mixins";
@import "../components/Button";

.technologies-page {
    .tech-title {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .main-topic {
        display: flex;
        flex-direction: column;
        align-items: center;

        opacity: 0;
        transition: 0.5s transform ease;

        @include step-entry(4);

        background-color: $indigoOne;
        color: $indigoWhite;

        width: 50vw;
        border-radius: 16px;

        margin: 1rem 0;
        padding: 1rem;
        button {
            @extend %button-style;
            background-color: $indigoWhite;
        }
    }

    .subtopic-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .subtopic-card {
            width: 58vw;
            margin: 1rem;
            padding: 1rem;
            .subtopics {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                padding: 1rem;
                & > * {
                    padding: 0.5rem;
                    margin: 0.5rem;
                }
            }
            &:last-child {
                margin-bottom: 2rem;
            }
        }

        .MuiChip-root {
            margin: 5px 4px 1rem;
            background-color: $indigoWhite;
        }
    }
}