@import "../helper/animations";
@import "../helper/variables";
@import "../components/Divider";

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;

  #header-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 35vw;
    height: 18rem;

    padding: 1rem;
    margin: 2rem;

    font-size: 1.2rem;
    border-radius: 12px;
    background-color: $indigoOne;
    color: $lilac;

    animation: sideToSide 10s infinite;
  }

  #welcome-info {
    margin: 2rem 0;
    width: 75%;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.6rem;
    animation: sideToSide 15s infinite;

    background-color: $indigoOne;
    color: $lilac;
  }

  .divider {
    @extend %divider;
  }

  footer {
    width: 80%;
    display: block;
    text-align: right;
  }
}
