.welcome-page {
    @keyframes sideToSide {
      from {
        transform: rotate(-1deg);
      }
  
      50% {
        transform: rotate(1deg);
      }
  
      to {
        transform: rotate(-1deg);
      }
    }
  
    #header-card {
      height: 18rem;
      animation: sideToSide 10s infinite;
    }
    #welcome-info {
      margin: 2rem 0;
      width: 75%;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.6rem;
      animation: sideToSide 15s infinite;
    }
}