@import "./mixins";
@import "./variables";

%tablet-queries {
    @media only screen and (max-width: 1050px) {
        .welcome-page {
            #header-card {
                padding: 0.7rem;
                h3 {
                    font-size: 1.2rem;
                }
                h4 {
                    font-size: 1rem;
                }
            }
        }
    
        .about-me-page {
            height: auto;
            .about-me-section {
                h1 {
                    font-size: 2.25rem;
                }
                button {
                    padding: 8px;
                }
            }
            .about-gallery {
                margin-top: 0;
                width: 90vw;
                height: 100%;
                flex-flow: column nowrap;
                align-items: center;
                .MuiPaper-root {
                    width: 55%;
                    height: auto;
                    overflow-y: scroll;
                }
            }
        }
    
        .projects-page {
            .filter-panel {
                margin-bottom: 2rem;
                width: 65%;
            }
        }
    
        .technologies-page {
            .main-topic {
                width: 70vw;
            }
        }
    
        .creative-works-page {
            > * {
                width: 100%;
            }

            .cw-gallery img {
                max-width: 45%;
            }

            .cw-information, .cw-experiences {
                width: 90%;
            }

            .cw-examples {
                .examples-left {
                    width: 40vw;
                }
                .examples-right {
                    margin-right: 1rem;
                    h2 {
                        padding: 1rem;
                    }
                    width: 50vw;
                }
            }
        }
    }
}

%mobile-queries {
    @media only screen and (max-width: 600px) {
        // universal tags for handling mobile-sensitive elements
        .mobile-hide {
            display: none;
        }

        .app-navbar {
            .navbar-left {
                width: 80vw;
                align-items: center;
                .my-name {
                    border-right: none;
                }
            }
            .navbar-right {
                width: 20vw;
                align-items: center;
                button {
                    padding: 0;
                    height: auto;
                }
            }
            a, h2 {
                color: inherit;
                font-weight: 600;
                font-size: 1.25rem;
            }
        }

        .welcome-page {
            #header-card {
                animation: none;
                width: 75vw;
            }
            #welcome-info {
                animation: none;
            }
        }

        .about-me-page {
            .about-me-section {
                .am-section-mini {
                    background-color: $darkLilac;
                    position: sticky;
                    top: 4.5rem;
                    width: 88vw;
                    z-index: 8;

                    h1 {
                        font-size: 1.35rem;
                    }
                    button {
                        padding: 4px;
                        height: 1.5rem;
                    }
                }
                .about-gallery {
                    .MuiPaper-root {
                        width: 85%;
                        height: auto;
                        margin-bottom: 12px;
                        .card-title {
                            font-size: 1.2rem;
                        }
                        h3 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .projects-page {
            .mobile-show {
                display: block;
                font-size: 1.35rem;
            }
            .filter-panel {
                position: sticky;
                top: 5.5rem;
                height: 4rem;
                margin: 1.5rem;
                h2 {
                    margin-top: 0;
                    font-size: 1.15rem;
                }
                .filter-controls input, button {
                    margin: 0 8px;
                    border-radius: 8px;
                }
            }

            .project-cards {
                margin-top: 1.5rem;
                .MuiPaper-root {
                    padding: 8px;
                    h1 {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .technologies-page {
            .tech-title {
                width: 95vw;
            }
            .main-topic {
                width: 85vw;
                
                h1 {
                    font-size: 1.2rem;
                }
                button {
                    padding: 6px;
                }
            }
        }

        .links-page {
            h1 {
                font-size: 1.35rem;
                width: 85%;
                margin-top: 1rem;
            }
            justify-content: flex-start;
            height: 20rem;
        }

        .creative-works-page {
            
        }
    }
}
