$pink50: #ffffff;
$purple100: #ffffff;
$purple200: #ffffff;

$indigoOne: #283593;
$indigoWhite: #e8eaf6;
$lightIndigo: #8191ec;

$lilac: #e2e0fe;

$davysGrey: #4C4C47;

$darkGreen: #264935;
$mintGreen: #bef9ca;