@import "../helper/variables";

%button-style {
    border: transparent;
    background-color: inherit;
    color: $indigoOne;
    padding: 10px 1rem;
    &:hover {
        background-color: $lightIndigo;
        color: $indigoOne;
    }
    &:active {
        background-color: $indigoWhite;
    }
}